{% include 'template.html' %}

{% block content %}	
<div class='container'>

    {% if activation.activated %}
        {% include 'partials/new_idea.html' %}
        {% if activation.showing %}
            <a href="{% url 'favorites' %}">My favorites</a>
            {% include 'partials/full_idea_table.html' %}
        {% else %}
            <i>Enter your ideas, they will be shown in a couple of minutes</i>
        {% endif %}
    {% else %}
        <h2 style="text-align: center;">The brainstorm starts on 19:00, please come back later</h2>
        <div style="width: 460px;margin: 20px auto;" class="countdown_clock"></div>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
    <script>
        var until = moment().hour(19).minute(0).second(0).diff(moment(), 'seconds');
        var clock = $('.countdown_clock').FlipClock({
            countdown: true,
            autoStart: false
        });
        clock.setTime(until)
        clock.start()


        $('.like').click(function(e) {
            e.preventDefault()
            that = $(this)
            $.ajax({
                method:'get',
                url: $(that).attr('href'),
                data: {},
                success: function(data) {
                    label = $(that).find('.fa')
                    data = JSON.parse(data)
                    if(data['liked']) {
                        $(label).addClass('fa-heart')
                        $(label).removeClass('fa-heart-o')
                    } else {
                        $(label).addClass('fa-heart-o')
                        $(label).removeClass('fa-heart')
                    }
                    $(that).parents('tr').find('.score').html(data['score'])
                    $(that).blur()
                }
            })
        })

        $('.favstar').click(function(e) {
            e.preventDefault()
            that = $(this)
            $.ajax({
                method:'get',
                url: $(that).attr('href'),
                data: {},
                success: function(data) {
                    data = JSON.parse(data)
                    label = $(that).find('.fa')
                    if(data['favorite']) {
                        $(label).addClass('fa-star')
                        $(label).removeClass('fa-star-o')
                    } else {
                        $(label).addClass('fa-star-o')
                        $(label).removeClass('fa-star')
                    }
                    $(that).blur()
                }
            })
        })
    </script>

{% endblock %}